// ---------------------------------------------------------===
// Variables
// ---------------------------------------------------------===

// Colors
$black: #000;
$white: #fff;
$blue: #374b5c;
$blue-dark: #1e2440;
$gray-1: #fcfdff;
$gray-2: #d5d7e0;
$gray-3: #e6e8f2;
$gray-4: #bdbfcc;
$gray-5: #b4b8cc;
$gray-6: #9095aa;

$primary-color: $blue;

$base-font-sans-serif: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', Arial,
  sans-serif;
$secondary-font-sans-serif: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', Arial,
  sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $blue !default;
$base-background-color: $white !default;
$base-font-size: 1.6rem !default; // 16px/10px = 1.6rem
$base-line-height: 1.875 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1rem);

$base-min-width: 320px !default;

// Liks
$base-link-color: $primary-color;

// Buttons
$button-color: $white !default;
$button-background-color: $primary-color !default;
$button-padding: 1.2rem 2rem !default;
$button-font-size: 1.7rem !default;
$button-line-height: 1.5 !default;
$button-font-weight: 700 !default;
$button-border-radious: 0 !default;

// Forms
$form-element-padding: 1.2rem 1.8rem !default;
$form-element-background-color: $gray-6 !default;
$form-element-border-color: $gray-5 !default;
$form-element-focus-border-color: $primary-color !default;
$form-element-color: $black !default;
$form-element-placeholder-color: $gray-6 !default;
$form-element-border-radius: 0 !default;
$form-element-font-weight: 700 !default;
$form-element-font-size: 2rem !default;
$form-element-line-height: 1.5 !default;

// Headings
$h1-font-size: 5.6rem !default;
$h2-font-size: 3.6rem !default;
$h3-font-size: 2.4rem !default;
$h4-font-size: 2.1rem !default;
$h5-font-size: 1.7rem !default;
$h6-font-size: 1.5rem !default;

$headings-font-family: $secondary-font-sans-serif !default;
$headings-color: $black !default;
$headings-font-weight: 700 !default;

$animation-speed: 0.3s !default;

//Custom variables
$font-path: '../../fonts';
$image-path: '../../images';

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px // ,
  // xxl:   1440px
  // ,
  // xxxl:  1640px,
  // xxxxl: 1840px,
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1120px,
) !default;

// @include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
// $grid-gutter-width-sm:        72px !default;
