// ---------------------------------------------------------===
// Grid generation
// ---------------------------------------------------------===

// Container widths
//
// Set the container width.
/* Grid styles */
.container {
  @include make-container();
  @include make-container-max-widths();
  // max-width: $grid-container-width;
}

// Fluid container
// fluid, full width layouts.
.container-fluid {
  @include make-container();
}

// Row
.row {
  @include make-row();
}

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns.
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Columns
//
// Common styles for small and large grid columns
@include make-grid-columns();
