@import 'vendors/normalize';

@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/helpers';

@import 'base/reset';
@import 'base/typography';

@import 'layouts/grid';
@import 'layouts/forms';
@import 'layouts/footer';
@import 'layouts/navigation';

@import 'pages/homepage';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
